[Unit]
Description=Check for queued Dispatch Core updates

[Timer]
OnBootSec=15s
OnUnitInactiveSec=60s
AccuracySec=1s
Unit=dispatch-platform-update.service

[Install]
WantedBy=timers.target
